body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px
}


#container {
    width: 800px;
    margin: auto;
}

header {
    margin-bottom: 10px;
    overflow: hidden;
}

h1{
	float: left;
}


nav {
    float:right;
    font-size: 14px;
    font-family: 'proxima-nova', 'Open Sans', sans-serif;
    padding-top: 35px;
    
}


nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    float: left;
}


nav li a {
    display: block;
    float: right;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    color: #ffffff;
}
/*滑鼠滑過*/
nav li a:hover {
    text-decoration:underline;
    background-color:#fafafa;
    color:gray;
}



#lead {
    background-color: solid;
   
    width: 300px;
}

#lead {
	margin-top: 60px;
    margin-bottom: 60px;
	color: #ffffff;
    font-family:SimHei,Arial;

}


#post1 img{
    float: left;

}

h3{
    color: #ffffff;
    margin-top: 100px;
}




/*footer*/


footer {
    background-color: #000000;
    padding: 5px;
    margin-top: 20px;
}


footer p {
    float: left;
    margin-top: 10px;
    margin-left: 12px;
    font-family: 'Maven Pro', Helvetica, Arial, san-serif;
    color: #ffffff
}

#iconmenu {
    float: right;
}

#iconmenu ul {
    margin: 0;
    padding: 3px 0 0;
}

#iconmenu li {
    display: inline;
    list-style-type: none;
}

#iconmenu img {
    border: none;
    width: 28px;
}

#submenu {
    clear: both;
    font-family: 'Maven Pro', Helvetica, Arial, san-serif;
    font-size: 12px;
    margin-left: 10px;
    overflow: hidden;
}

#submenu ul {
    margin: 3px;
    padding: 0;
}

#submenu li {
    list-style-type: none;
    float: left;
}

#submenu li a {
    display: block;
    width: auto;
    border-right: solid 1px #ffffff;
    text-align: center;
    text-decoration: none;
    color: #ff1e97;
    font-weight: bold;
    padding-right: 6px;
    margin-right: 3px;
}

#submenu li:last-child a {
    border: none;
}

#submenu li+li+li a {
    border: none;
}

small {
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 12.5px;
}